{% extends 'base.html' %}
{% load static %}
{% load games_costumtag %}
{% block title %}{{ game.title }}{% endblock %}

{% block content %}
    <div class="container bg-white align-items-center">
        <div class="bg-secondary text-center p-4">
            <pre>{{ game.team2.name }} {{ state.f_score }} - {{ state.s_score }} {{ game.team1.name }}</pre>
        </div>
        <div class="row m-2 justify-content-center">
            <div class="col-9 col-md-3 p-1">
                <table class="table tabl-sm table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <td>زمان تعویض</td>
                        <td>نام بازیکن</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in team1_palyer %}
                        <tr {% if player.bench and player.player.id != bestplayer.id %}class="table-danger"{% endif %}
                            {% if player.player.id == bestplayer.id %}id ='best-player'{% endif %}>
                            {% for event in events %}
                                {% if event.title == 'تعویض' %}
                                    {% if player.player == event.first_player %}
                                        <td class="text-success">
                                            {{ event.time|formatSeconds }}
                                        </td>
                                    {% elif player.player == event.second_player %}
                                        <td class="text-danger">
                                            {{ event.time|formatSeconds }}
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td>{{ player.player.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-9 col-md-6 p-2 order-first order-md-0">
                <div class="d-sm-flex flex-column align-items-center">
                    <table class="table table-sm text-center table-borderless table-dark table-layout table-fixed mt-3"
                    >
                        <thead>
                        <tr>
                            <td align="center">استقلال</td>
                            <td align="center">رخداد</td>
                            <td align="center">سپاهان</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ state.f_score }}</td>
                            <td>تعداد گل</td>
                            <td>{{ state.s_score }}</td>
                        </tr>
                        <tr>
                            <td>{{ state.f_corner }}</td>
                            <td>کرنر</td>
                            <td>{{ state.s_corner }}</td>
                        </tr>
                        <tr>
                            <td>{{ state.f_chances }}</td>
                            <td>موقعیت گل</td>
                            <td>{{ state.s_chances }}</td>
                        </tr>
                        <tr>
                            <td>{{ state.f_possession }}</td>
                            <td>درصد مالکیت توپ</td>
                            <td>{{ state.s_possession }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <img class="on-air" src="{% static "/Resources/Icons/on-air.gif" %}">
                    <div class="live-event container px-3">
                        {% for event in events %}
                            <div class="row {{ event.event_color_class }} justify-content-center align-items-center">
                                <p class="col-5 ">
                                    {{ event.title }}
                                </p>
                                <p class="col-3">
                                    {{ event.time|formatSeconds }}
                                </p>
                                <p class="col-4">
                                    {{ event.team.name }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-9 col-md-3 p-1 ">
                <table class="table tabl-sm table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <td>نام بازیکن</td>
                        <td>زمان تعویض</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in team2_player %}
                        <tr {% if player.bench and player.player.id != bestplayer.id %}class="table-danger"{% endif %}
                            {% if player.player.id == bestplayer.id %}id ='best-player'{% endif %}>
                            <td>{{ player.player.name }}</td>
                            {% for event in events %}
                                {% if event.title == 'تعویض' %}
                                    {% if player.player == event.first_player %}
                                        <td class="text-success">
                                            {{ event.time|formatSeconds }}
                                        </td>
                                    {% elif player.player == event.second_player %}
                                        <td class="text-danger">
                                            {{ event.time|formatSeconds }}
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>

        <!--timelines-->
        <div>
            <h6 class=" text-center">
                تایملاین {{ game.team1.name }}
            </h6>
            <div class="timeline">
                {% for i in range %}
                    {% for event in events %}
                        {% if i == event.time|minute %}
                            {% if event.team.name == game.team1.name %}
                                <img class="position-absolute"
                                     src="{% static "Resources/sheet" %}/{{ event.event_pic }}"
                                     style="right: {{ event.time|minute }}%">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
            <div class="timeline d-flex flex-row-reverse">
                <div class="event-space">
                    0
                </div>
                <div class="event-space">
                    5
                </div>
                <div class="event-space">
                    10
                </div>
                <div class="event-space">
                    15
                </div>
                <div class="event-space">
                    20
                </div>
                <div class="event-space">
                    25
                </div>
                <div class="event-space">
                    30
                </div>
                <div class="event-space">
                    35
                </div>
                <div class="event-space">
                    40
                </div>
                <div class="event-space">
                    45
                </div>
                <div class="event-space">
                    50
                </div>
                <div class="event-space">
                    55
                </div>
                <div class="event-space">
                    60
                </div>
                <div class="event-space">
                    65
                </div>
                <div class="event-space">
                    70
                </div>
                <div class="event-space">
                    75
                </div>
                <div class="event-space">
                    80
                </div>
                <div class="event-space">
                    85
                </div>
                <div class="event-space">
                    90
                </div>
                <div class="event-space">
                    95
                </div>
            </div>
            <div class="timeline">
                {% for i in range %}
                    {% for event in events %}
                        {% if i == event.time|minute %}
                            {% if event.team.name == game.team2.name %}
                                <img class="position-absolute"
                                     src="{% static "Resources/sheet" %}/{{ event.event_pic }}"
                                     style="right: {{ event.time|minute }}%">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
            <h6 class=" text-center ">
                تایملاین {{ game.team1.name }}
            </h6>
        </div>

        <!--related news-->
        <header class="card-header bg-primary text-light text-center">
            اخبار مرتبط
        </header>
        <div class="container">
            <div class="row justify-content-center">
                {% for news in related_news %}
                <div class="col-6 col-md-3 p-1">
                    <a class="card  hover-b" href="{% url "info:news" news.id %}">
                        <img class="card-img" src="{% get_media_prefix %}{{ news.picture }}">
                        <h6 class="card-body"> {{ news.title }}</h6>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>

        <!--videos and pictures-->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 p-0">
                    <div class="container-fluid">
                        <header class="text-center text-light d-block bg-primary">عکسها</header>
                        <div class="row justify-content-center just">
                            {% for pic in pics %}
                                <div class="col-6 col-md-3 p-1">
                                    <a data-toggle="modal" href="#modalpic-{{ forloop.counter }}">
                                        <img class="img-thumbnail" src="{% get_media_prefix %}{{ pic.picture }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="container-fluid">
                        <header class="text-center text-light d-block bg-primary m-0">ویدیوها</header>
                        <div class="row justify-content-center">
                            {% for video in videos %}
                                <div class="col-6 col-md-3 p-1">
                                    <a class="d-block position-relative" data-toggle="modal"
                                       href="#modalvideo-{{ forloop.counter }}">
                                        <img class="play-icon " src="{% static "/Resources/Icons/play.png" %}">
                                        <img class="img-thumbnail" src="{% get_media_prefix %}{{ video.thumbnail }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modals-->
    {% for pic in pics %}
        <div class="modal" id="modalpic-{{ forloop.counter }}">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content ">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <img class="img-thumbnail" src="{% get_media_prefix %}{{ pic.picture }}">
                </div>
            </div>
        </div>
    {% endfor %}
    {% for video in videos %}
        <div class="modal" id="modalvideo-{{ forloop.counter }}">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content embed-responsive embed-responsive-16by9">
                    <video class="modal-video embed-responsive-item" controls data-paused-by-reveal>
                        <source src="{% get_media_prefix %}{{ video.video }}" type="video/{{ video.extension }}">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>
    {% endfor %}

    <!--script-->
    <script src="{% static "/js/autoplay.js" %}"></script>
{% endblock %}