{% extends 'base.html' %}
{% load static %}
{% load games_costumtag %}
{% block title %}لیگ {{ league.name }}{% endblock %}

{% block content %}
    <header class="container-fluid league-header">
        <div class="row justify-content-center align-items-center">
            <img class="col-3 team-logo m-2" src="{% static '/Resources' %}/{{ league.logo }}">
            <h2 class="col-auto order-1 font-italic text-light">{{ league.name }}</h2>
        </div>
    </header>
    <main class="container bg-light ">
        <div class="row justify-content-around">
            <div class="col-3 m-2 flex-column p-0 card align-self-start d-none d-md-block">
                <header class="card-header bg-primary text-light">
                    اخبار مرتبط
                </header>
                {% for news in related_news %}
                    <a class="card m-1 " href="{% url "info:news" news.id %}">
                        <img class="card-img" src="{% get_media_prefix %}{{ news.picture }}">
                        <h6 class="card-body"> {{ news.title }}</h6>
                    </a>
                {% endfor %}
            </div>
            <div class="col-8">
                <table class="col-8 mt-2 table table-striped text-center table-bordered table-sm table-responsive-md sortable"
                       dir="rtl">
                    <thead class="thead-dark ">
                    <tr>
                        <th scope="col">شماره</th>
                        <th scope="col">تیم</th>
                        <th scope="col">بازیها</th>
                        <th scope="col">برد</th>
                        <th scope="col">باخت</th>
                        <th scope="col">مساوی</th>
                        <th scope="col">گل زده</th>
                        <th scope="col">گل خورده</th>
                        <th scope="col">تفاضل گل</th>
                        <th scope="col">امتیاز</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in league_team %}
                        <tr>

                            <td scope="row">{{ forloop.counter }}</td>
                            <td scope="row"><a href={% url "info:team_list_sortbythis" team.id 'date' %}>{{ team.team__name }}</a></td>
                            <td scope="row">{{ team.game }}</td>
                            <td scope="row">{{ team.wins }}</td>
                            <td scope="row">{{ team.loses }}</td>
                            <td scope="row">{{ team.draw }}</td>
                            <td scope="row">{{ team.goals_scored }}</td>
                            <td scope="row">{{ team.goals_received }}</td>
                            <td scope="row">{{ team.goals_diff }}</td>
                            <td scope="row">{{ team.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-dark table-borderless text-center sortable" dir="rtl">
                    <thead>
                    <tr>
                        <th scope="col">میزبان</th>
                        <th scope="col">نتیجه</th>
                        <th scope="col">میهمان</th>
                        <th scope="col">تاریخ بازی</th>
                        <th scope="col">هفته</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if league.is_football %}
                        {% for game in league_game %}
                            <tr>
                                <td>{{ game.team1__name }}</td>
                                <td>{{ game.football_states__f_score }} - {{ game.football_states__s_score }}</td>
                                <td>{{ game.team2__name }}</td>
                                <td>
                                    <time datetime="{{ game.date }}">{{ game.date }}</time>
                                </td>
                                <td>{{ game.week }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for game in league_game %}
                            <tr>
                                <td>{{ game.team1.name }}</td>
                                <td>{{ game.basketball_states__f_score }} - {{ game.football_states__s_score }}</td>
                                <td>{{ game.team2.name }}</td>
                                <td>
                                    <time datetime="{{ game.date }}">{{ game.date }}</time>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>

                </table>

            </div>

        </div>

    </main>
{% endblock %}