{% extends 'base.html' %}
{% load static %}
{% load games_costumtag %}
{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<div class="container ">
    <main class="main p-4 text-right">
        <div class="row">
            <div class="col-3 flex-column p-0 card align-self-start d-none d-md-block">
                <header class="card-header bg-primary text-light">
                    اخبار مرتبط
                </header>
                {% for news in related_news %}
                    <a class="card m-1 " href="{% url "info:news" news.id %}">
                        <img class="card-img" src="{% get_media_prefix %}{{ news.picture }}">
                        <h6 class="card-body"> {{ news.title }}</h6>
                    </a>
                {% endfor %}
            </div>
            <article class="col-md-9 px-3">
                <header class="p-3">
                    <h1>{{ news.title }}</h1>
                    <h6 class="text-muted m-2">
                        تاریخ انتشار خبر
                        <time datetime="2011-11-18T14:54:39.929">{{ news.date_added }}</time>
                    </h6>
                    <h6 class="m-2">
                        منبع خبری: <a href="#">{{ news.source }}</a>
                    </h6>
                </header>
                <hr>
                <img class="img-fluid img-thumbnail my-2" src="{% get_media_prefix %}{{ news.picture }}">
                <p class="p-1 ">
                    {{ news.body }}
                </p>
                <hr>
                <div class="tags text-right">
                    <span class="d-inline-block text-muted m-3">
                        تگ های مرتبط
                    </span>
                    <ol class="list-inline mx-3">
                        {% for tag in tags %}
                            <li class="btn btn-outline-primary list-inline-item">{{ tag.description }}</li>
                        {% endfor %}
                    </ol>

                </div>
                <hr>
                <section class="comments">
                    <!--TODO-->
                    <header>
                        <h6 class="m-3">نظرات</h6>
                    </header>
                    <div class="media  p-2 mx-2 my-2 container">
                        {% for comment in comments %}
                        <div class="row">
                            <div class="media-body img-thumbnail col-9 p-2 mx-1 my-2">
                                <p class="d-inline-block">
                                    {{ comment.name }}
                                </p>
                                <p class="d-inline-block">
                                    {{ comment.text }}
                                </p>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <form class="form-group m-3" method="post" action={% url "sfuser:save_comment" news.id %}>
                        {% csrf_token %}
                        <label>نظر خود را در این مکان بنویسید</label>
                        <input class="text" type="text" name="dame" id="dame">
                        <textarea class="form-text w-100 " rows="8" type="text" name="dext" id="dext"></textarea>
                        <button type="button" class="btn btn-primary my-2">ثبت نظر</button>
                    </form>


                </section>
            </article>
        </div>

    </main>
</div>


<!--js references -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
{% endblock %}