{% extends 'base.html' %}
{% block title %}صفحه اخبار{% endblock %}

{% block content %}
<div class="container-fluid text-right" style="direction: rtl"><div class="row justify-content-center"><div class="col-9">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-center">
                <p class="h1">صفحه اخبار</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col container ">
                <div class="row "> <div class="col"><p class="display-4 text-right ">مورد علاقه ها</p> <hr> </div>  </div>
                {% if newsnumber > 8 %}
                <div class="row align-items-center " style="height: 40rem;overflow-y:scroll;">
                {% else %}
                <div class="row align-items-center " style="height: 40rem;">
                {% endif %}

                    {% if msg %}
                        {{ msg }}
                    {% else %}
                        {% if news_list %}
                            {% for news in news_list %}
                            <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">

                                <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                                  <img class="card-img-top" src="{{news.picture.url}}" style="height: 150px;width: 18rem" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ news.title }}</h5>
                                    <p class="card-text text-truncate" style="direction: rtl">{{ news.body }} </p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                  </ul>
                                  <div class="card-body">
                                      <div>
                                        <a href={% url "info:news" news.id %} class="card-link">مشاهده</a> <!-- TODO-->
                                          {% for i in news.tag_set.all %}
                                             <span class="btn-info" style="margin: 5px;padding: 2px" >{{ i.description }}</span>
                                          {% endfor %}
                                      </div>
                                      <div>
                                          <span class="btn-warning" style="margin: 5px;padding: 2px" >{{ news.date_added }}</span>
                                      </div>
                                  </div>
                                </div>

                            </div>
                            {% endfor %}
                        {% else %}
                            شما هیچ مورد علاقه ای ندارید
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row"><div class="col" style="background-color: #9fcdff; height: 80px" >

            <form action="{% url 'info:news_list' %}" method="post">
            {% csrf_token %}
                <input list="pages" name="choice" id="choice" pattern="8|16|24|32">
                <label for="choice">تعداد اخبار در صفحه</label><br>
            <input type="submit" class="btn-warning" value="تایید">
            </form>

<datalist id="pages">
  <option value="8">
  <option value="16">
  <option value="24">
  <option value="32">
</datalist>

        </div></div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-10 container ">
                <div class="row "> <div class="col"><p class="display-4 text-right ">بسکتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    {% for news in basketball_list %}
                    <div class="col-md-5 col-sm-10 col-lg-6" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">

                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px;margin-left: 10px">
                          <img class="card-img-top" src="{{news.picture.url}}" style="height: 150px;width: 18rem" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <p class="card-text text-truncate" style="direction: rtl">{{ news.body }} </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                              <div>
                                <a href={% url "info:news" news.id %} class="card-link">مشاهده</a> <!-- TODO-->
                                  {% for i in news.tag_set.all %}
                                     <span class="btn-info" style="margin: 5px;padding: 2px" >{{ i.description }}</span>
                                  {% endfor %}
                              </div>
                              <div>
                                  <span class="btn-warning" style="margin: 5px;padding: 2px" >{{ news.date_added }}</span>
                              </div>
                          </div>
                        </div>

                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-lg-6 col-sm-10 container " >
                <div class="row "> <div class="col"><p class="display-4 text-right ">فوتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">

                    {% for news in football_list %}
                    <div class="col-md-5 col-sm-10 col-lg-6" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">

                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="{{news.picture.url}}" style="height: 150px;width: 18rem" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <p class="card-text text-truncate" style="direction: rtl">{{ news.body }} </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                              <div>
                                <a href={% url "info:news" news.id %} class="card-link"> مشاهده</a> <!-- TODO-->
                                  {% for i in news.tag_set.all %}
                                     <span class="btn-info" style="margin: 5px;padding: 2px" >{{ i.description }}</span>
                                  {% endfor %}
                              </div>
                              <div>
                                  <span class="btn-warning" style="margin: 5px;padding: 2px" >{{ news.date_added }}</span>
                              </div>
                          </div>
                        </div>

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div></div></div>

{% endblock %}